*{
    padding: 0;
    margin: 0;
    
}
.container .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 20%;
}
.container{
    max-width: 400px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #4f4f70 ;
    display: block;
   justify-content: space-between;
    padding-top: 30px;
    
}
.form-wrap{
    text-align: center;
    font-family: 'poppins';
    font-size: 20px;
    background-color: #4f4f70;
    margin: 50px 20px;
    margin-top: 30px;
    flex-direction: column;
    justify-content: space-between;
}
.form-wrap p{
    color: rgb(420, 220, 320);
    text-decoration: double;
    justify-content: space-evenly;
    margin: 20px auto;
    
}
button{
    padding: 15px;
    margin-left: 30% ;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
    background-color: black;
    width: 170px;
    line-height: 30px;
}